*{
    /* padding: 0; */
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Nav bar styles*/
#top-nav *{
    /* border: 1px dashed white;just to help design */
}
#top-nav{
    /* border: 3px solid red;design */
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.logo{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    /* padding: 5px; */
}
#top-nav .links{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
#top-nav .links a{
    color:#E5E7EB;
    text-decoration: none;
    padding: 5px;
}
/*Header section styles*/
#header{
    font-size:18px;
    color: #E5E7EB;
    padding: 20px;
}
#header h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header-content{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.header-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}
.header-img{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
.sign-up{
    width: 100px;
    padding: 2px;
    color:#E5E7EB;
    font-weight: bolder;
    background-color: #3882F6;
    border: 1px solid #000;
    border-radius: 5px;
}
/*info section styles*/
#info{
    color: #1F2937;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.info-content{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.card{
    border: 2px dashed red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 200px;
    height: 200px;
}
.card p, .card img{
    width: auto;
    height: 100%;
}
.card *{
    border: 1px solid black;
}
/*Quote section styles*/
#quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
/*Footer styles*/
footer{
    color: #E5E7EB;
}
/*Misc*/
#header, footer{
    background-color: #1F2937;
}
#info, #call-to-action{
}