*{
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Nav bar styles*/
#top-nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.logo{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
}
#top-nav .links{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
#top-nav .links a{
    color:#E5E7EB;
    text-decoration: none;
    padding: 5px;
}
/*Header section styles*/
#header{
    font-size:18px;
    color: #E5E7EB;
    padding: 20px;
}
#header h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header-content{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.header-info{
    width: 50%;
    padding: 5px;
    gap: 10px;
}
.header-img{
    width: 50%;
    border: 1px solid red;
    padding: 5px;
    gap: 10px;
}
.sign-up{
    width: 100px;
    padding: 2px;
    color:#E5E7EB;
    font-weight: bolder;
    background-color: #3882F6;
    border: 1px solid #000;
    border-radius: 5px;
}
/*info section styles*/
#info{
    color: #1F2937;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.info-content{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
    gap: 10px;
}
.card p, .card img{
    width: auto;
    height: 100%;
}
.card img{
    border: 2px solid red;
    border-radius: 10px;
}
/*Quote section styles*/
#quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
}
.quote-content{
    padding: 50px;
    width: 50%;
}
.quote-content h5{
    text-align: center;
}
/*Call to action styles*/
#call-to-action{
    font-size: 18px;
    padding: 20px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}
.cta-content{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.cta-message{
    padding: 5px;
}
.cta-button button{
    border: 1px solid #E5E7EB;
}
/*Footer styles*/
footer{
    color: #E5E7EB;
    padding: 20px;
    text-align: center;
}
/*Misc*/
#header, footer{
    background-color: #1F2937;
}
